*.o
*.pro.user.*
*.pro.user
*.user.*
*.user
xxxMakefile
Makefile.base
*.d
*.lst
sensor.eep
sensor.elf
sensor.hex
sensor.lss
sensor.map
sensor.sym
README.md
.projectile
xxxbase
server
living
data.tsv
manager/bin/data
moc_*.cpp
ui_*.h
c++
qrc_*.cpp
.qmake.stash
Makefile.manager
moc_predefs.h