
input[type=submit]{
  
	background-color:#ff6600;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    
    font-size: 14px;
    cursor: pointer;
}
input#create{
    margin-left: 150px;
}

table#alarmsView{
    clear:right;
	float:left;
}
th {
    display: table-cell;
    vertical-align: inherit;
    color: #007acc;
    text-align: left;
    padding: 10px;    
}
td {
    display: table-cell;
    vertical-align: inherit;
    background-image: -ms-linear-gradient(bottom, white,#c0c0c0);
    text-align: left;
    color:#808080;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    
}
td#deleteCheckbox{
	text-align: center;

}
figure { 
    display: inline;    
}
input[type=delete]{
  
    float:left;
}
p.message{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
p.message1{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 160px;
}
input#delete, table#alarmsView{
    display: block;
 }
