
#datePkr {
	font-size: 14px;
	float:left;
	width: 800px;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px; 
	
}
#option{
	float:left;
	width: 600px;
	height: 30px;
	margin-left: 20px;
	margin-right: 20px;s
	margin-top: 10px;
	margin-bottom: 20px;
}
input[type=button]{
    background-color:#28B463;
    border: 2px solid;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer; 
}
p#download{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}


#graphContainer {
    float: left;
    width: auto;
    height:340px;
    margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;
	
}


.checkboxList {
	list-style-type:none;

}

.checkboxListScroll {
	float: right;
	position:relative;
	margin-left: 40px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 20px; 
	width: 200px;
	height:800px;
	overflow: scroll;
	overflow-x: hidden;
	
}

#checkboxes{
	
	float: left;
    width: 500px;
    height:30px;
    margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 14px; 
	letter-spacing: 1px;
	color: grey;
}
path {
    stroke-width: 1.5;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1.2;
    shape-rendering: crispEdges;
}
.itemList{
	font-size: 14px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 4px;
	
}