@import url(//fonts.googleapis.com/css?family=Open+Sans);

body{
	margin:0;
	padding:0;
}
#Holder{
	width:1080px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;

}
#Header{
	height:140px;
	width:140px;
	background-image:url(../assets/logo1.png);
	background-repeat: no-repeat;
	margin-bottom: 5px;
	float: left;
}
#NavBar{
	height:140px;
	width:940px ;
	background-image: -moz-linear-gradient(right, white, #bdbdbd);
	float:left;
}
#Content{
	height:auto;
	clear:both;
	overflow:auto;
}
#Footer{
	height:100px;
}
#ContentLeft{
	width:280px;
	float:left;
}
#PageHeading{
	height:auto;
	padding:11px;
}
#ContentLeft{
	width:280px;
	float: left;
	padding-top: 11px;
	padding-left: 11px;
}	
#ContentRight{
	width:680px;
	float:right;
	border:none;
}
h1{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	color:#666;
}
h2{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	color:#999;
	font-weight: lighter;
}
h2{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	color:#444;
	font-size:16px;
	font-weight: lighter;
}
#RegisterForm{
	border:none;
}
table{
	width:400px;
	 
}
fieldset{
	border:none;
}
.StyleTxtField{
	border: 1px solid #666;
	border-radius: 6px;
	width:200px;
	height:35px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 6px;

}
label{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: #666;
	font-size: 14px;
}