@import url(//fonts.googleapis.com/css?family=Open+Sans);
body{
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
  min-width: 1200px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#Holder{
  width:auto;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
}
#TopHeader{ 
  height: 30px;
  min-width: 1200px;
  font-family: 'Open Sans', sans-serif;
}
#TopHeader nav ol li {
  margin: 0;
  line-height: 30px;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
  text-decoration: none;
  list-style-type:none; 
  display: inline-block;
  padding-right: 10px;
  float: right;
}
#LogoDiv{
  height:140px;
  width:140px;
  background-image:url(../assets/logo1.png);
  background-repeat: no-repeat;
  margin-bottom: 5px;
  float: left;
}
#NavBar{
  height:140px;
  min-width:1200px;
  background-image:-webkit-linear-gradient(left, white , #f5f5f5);
}
#MainNav ul li{
  text-decoration: none;
  list-style-type:none; 
  display: inline-block;
  padding-right: 20px;
  margin-left: 50px;
  line-height: 45px;
}

#Content{
  height:auto;
  clear:both;
  overflow:auto;
}

.SideMenu {
  float:left;
  line-height:30px;
  min-height: 400px;
  background-image: -webkit-linear-gradient(bottom, white, #f5f5f5);
  margin-left: 5px;
  width:120px;
  padding:8px; 
  font-family: 'Open Sans', sans-serif;
}


#Footer{
  height:100px;
}

#PageHeading{
  height:auto;
  padding:11px;
}
#ContentLeft{
  width:180px;
  float: left;
  height:auto;
  padding-top: 11px;
  padding-left: 11px;
} 
#ContentRight{
  
  height:auto;
  margin-left: 130px;
  border:none;
}
h1{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  color:#666;
}
h2{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  color:#999;
  font-weight: lighter;
}
h3{
  margin:10;
  font-family: 'Open Sans', sans-serif;
  color:grey;
  font-size:12px;
  font-weight: lighter;
}
h4{
    font-size: 17;
    color: #007acc;
    font-weight: lighter;
}

label{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  
  font-size: 14px;
}


select,
textarea,
input[type=text],
input[type=email],
input[type=password],
input[type=datetime-local] {
  color: #666;
  padding: 2px 5px 2px 5px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  height: 20px;
  width: 100%;
  max-width: 250px;
}

td textarea {
  max-width: 80%;
  min-height: 5em;
  color: #888;
}

input[type=datetime-local] {
  width: auto;
}

select {
  margin-top: 1px;
  font-size: 12px;
  background-color: white;
  height: 24px;
  max-width: 262px;
}

select.narrow {
  width: auto;
}

input[type="checkbox"] {
    display:inline-block;
    width:14px;
    height:14px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}


a.button {
  color: #888;
  background-color: white;
  margin: 10px 0 10px 0;
  padding: 2px 5px 2px 5px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  height: 26px;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  
}



a:link {
    color: #837E7C;
}

a:visited {
    color: #837E7C;
}
nav a.current {
  
  color:#007acc;
}



#container{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn btn-link{
	float: left;
	margin-top: px;
}
p{
  color: grey;
  font-size: 10;
  font-weight: lighter;

}
p.subtle{
	color: darkgrey;
	font-size: 8;
}
p.message{
  color: darkgrey;
  font-size: 14;

}


/* Row. */

.row {
  margin: 10px 0 10px 0;
}

.row > div {
  float: left;
  text-align: right;
  margin: 0 10px 0 0;
}

.row > div + div {
  text-align: left;
  margin: 0 0 0 10px;
}


