@import url(//fonts.googleapis.com/css?family=Open+Sans);
body{
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
  min-width: 1200px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#Holder{
  width:auto;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
}
#TopHeader{ 
  height: 30px;
  min-width: 1200px;
  font-family: 'Open Sans', sans-serif;
}
#TopHeader nav ol li {
  margin: 0;
  line-height: 30px;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
  text-decoration: none;
  list-style-type:none; 
  display: inline-block;
  padding-right: 10px;
  float: right;
}
#LogoDiv{
  height:140px;
  width:140px;
  background-image:url(../assets/logo1.png);
  background-repeat: no-repeat;
  margin-bottom: 5px;
  float: left;
}
#NavBar{
  height:140px;
  min-width:1200px;
  background-image:-webkit-linear-gradient(left, white , #f5f5f5);
}

#MainNav{
  padding-right: 10px;
}
#MainNav ul li{
  text-decoration: none;
  list-style-type:none; 
  display: inline-block;
  padding-right: 20px;
  margin-left: 50px;
  line-height: 45px;
}

#Content{
  height:auto;
  clear:both;
  overflow:auto;
}
#Footer{
  height:100px;
}
#ContentLeft{
  width:280px;
  float:left;
}
#PageHeading{
  height:auto;
  padding:11px;
}
#ContentLeft{
  width:280px;
  float: left;
  padding-top: 11px;
  padding-left: 11px;
} 
#ContentRight{
  width:680px;
  float:right;
  border:none;
}
h1{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  color:#666;
}
h2{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  color:#999;
  font-weight: lighter;
}
h3{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  color:#444;
  font-size:12px;
  font-weight: lighter;
}

p{
	color:grey;
	font-size: 14;
}

input {
   -webkit-appearance: none;
}

select,
textarea,
input[type=text],
input[type=email],
input[type=password],
input[type=datetime-local] {
  color: #666;
  padding: 2px 5px 2px 5px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  height: 20px;
  width: 100%;
  max-width: 250px;
}

td textarea {
  max-width: 80%;
  min-height: 5em;
  color: #888;
}

input.number {
  max-width: 100px;
}

input[type=datetime-local] {
  width: auto;
}

select {
  margin-top: 1px;
  font-size: 12px;
  background-color: white;
  height: 24px;
  max-width: 262px;
}

select.narrow {
  width: auto;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}

input[type=submit],
a.button {
  color: #f05a23;
  background-color: white;
  margin: 10px 0 10px 0;
  padding: 2px 20px 2px 44px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  height: 26px;
  background-position: 20px 50%;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  cursor: pointer;
}

path {
    stroke-width: 1.5;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1.2;
    shape-rendering: crispEdges;
}


.SideMenu {
  background-image: -webkit-linear-gradient(bottom, white, #bdbdbd);
  float:left;
  line-height:30px;
	min-height: 400px;
	background-image: -ms-linear-gradient(bottom, white, #f5f5f5);
	background-image: -webkit-linear-gradient(bottom, white, #f5f5f5);
	background-image: -moz-linear-gradient(bottom, white, #f5f5f5);
	margin-left: 5px;
  height:800px;
  width:120px;
  float:left;
  padding:8px; 
  font-family: 'Open Sans', sans-serif;
}
a:link {
    color: #837E7C;
}

a:visited {
    color: #837E7C;
}
nav a.current {
  
  color:#306EFF;
}

#datePkr {
	font-size: 14px;
	position:fixed; top:100px; left: 150px;
	width: 1000px;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px; 
	
}

.checkboxList {
	list-style-type:none;

}

.checkboxListScroll {
	float: right;
	position:relative;
	margin-left: 40px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 20px; 
	width: 200px;
	height:800px;
	overflow: scroll;
	overflow-x: hidden;
	
}

#graphContainer {
    float: left;
    width: auto;
    height:340px;
    margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;
	

}
.itemList{
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 4px;
	
}
#checkboxes{
	
	float: left;
    width: 500px;
    height:30px;
    margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 14px; 
	letter-spacing: 1px;
	color: grey;
}
#option{
	position:fixed; top:140px; left: 150px;
	width: 600px;
	height: 30px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#container{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn btn-link{
	float: left;
	margin-top: px;
}
p.subtle{
	color: darkgrey;
	font-size: 14;
}
/* Row. */

.row {
  margin: 10px 0 10px 0;
}

.row > div {
  float: left;
  text-align: right;
  margin: 0 10px 0 0;
}

.row > div + div {
  text-align: left;
  margin: 0 0 0 10px;
}

