@import url(//fonts.googleapis.com/css?family=Open+Sans);
header {
    background-image: -ms-linear-gradient(bottom, white, #bdbdbd);
	background-image: -webkit-linear-gradient(bottom, white, #bdbdbd);
	background-image: -moz-linear-gradient(bottom, white, #bdbdbd);
    padding:3px; 
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 5px;

}

h1{
	color: grey;
	position: fixed; top:20px; left:30px;
	font-size: 30px;
	font-weight: 50px;
}
h2{
	color: #08B37F;
	font-size: 18px;
}
p{
	color:grey;
	font-size: 14;
}
ul.list{
	position: fixed; top:1px; left:10px;
}
ul.list li{
	text-decoration: none;
	list-style-type:none; 
	display:inline;
	padding-right: 30px;
}
input {
   -webkit-appearance: none;
}

select,
textarea,
input[type=text],
input[type=email],
input[type=password],
input[type=datetime-local] {
  color: #666;
  padding: 2px 5px 2px 5px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  height: 20px;
  width: 100%;
  max-width: 250px;
}

td textarea {
  max-width: 80%;
  min-height: 5em;
  color: #888;
}

input.number {
  max-width: 100px;
}

input[type=datetime-local] {
  width: auto;
}

select {
  margin-top: 1px;
  font-size: 12px;
  background-color: white;
  height: 24px;
  max-width: 262px;
}

select.narrow {
  width: auto;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}

input[type=submit],
a.button {
  color: #f05a23;
  background-color: white;
  margin: 10px 0 10px 0;
  padding: 2px 20px 2px 44px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  height: 26px;
  background-position: 20px 50%;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  cursor: pointer;
}

section {
    width:1200px;
    float:left;
    padding:10px; 
    font-family: 'Open Sans', sans-serif;
}
body { 
	font-family: 'Open Sans', sans-serif;
	width: 100%; 
	margin: 0 auto;
}

path {
    stroke-width: 1.5;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1.2;
    shape-rendering: crispEdges;
}
nav {
    line-height:30px;
	min-height: 400px;
	background-image: -ms-linear-gradient(bottom, white, #f5f5f5);
	background-image: -webkit-linear-gradient(bottom, white, #f5f5f5);
	background-image: -moz-linear-gradient(bottom, white, #f5f5f5);
	margin-left: 5px;
    height:800px;
    width:120px;
    float:left;
    padding:8px; 
    font-family: 'Open Sans', sans-serif;
}
a:link {
    color: tomato;
}

a:visited {
    color: tomato;
}
nav a.current {
  
  color:#08B37F;
}

#datePkr {
	font-size: 14px;
	position:fixed; top:100px; left: 150px;
	width: 1000px;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px; 
	
}

.checkboxList {
	list-style-type:none;

}

.checkboxListScroll {
	float: right;
	position:relative;
	margin-left: 40px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 20px; 
	width: 200px;
	height:800px;
	overflow: scroll;
	overflow-x: hidden;
	
}

#graphContainer {
    float: left;
    width: auto;
    height:340px;
    margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;
	

}
.itemList{
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 4px;
	
}
#checkboxes{
	
	float: left;
    width: 500px;
    height:30px;
    margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 14px; 
	letter-spacing: 1px;
	color: grey;
}
#option{
	position:fixed; top:140px; left: 150px;
	width: 600px;
	height: 30px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#container{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn btn-link{
	float: left;
	margin-top: px;
}
p.subtle{
	color: darkgrey;
	font-size: 14;
}
/* Row. */

.row {
  margin: 10px 0 10px 0;
}

.row > div {
  float: left;
  text-align: right;
  margin: 0 10px 0 0;
}

.row > div + div {
  text-align: left;
  margin: 0 0 0 10px;
}

/* Tables. */

th {
  text-align: left;
}

tr.status.hidden {
  display: table-row;
  opacity: 0.5;
}

tr.expands:hover {
  cursor: pointer;
}

tr.expands:nth-child(4n-1) {
  background-color: rgb(245, 245, 245);
}

tr.expands + tr {
  display: none;
}

td pre {
  line-height: normal;
  font-size: 0.9em;
}


/* Data overview (common data source section). */
section.data-source {
  position: relative;
  float: left;
  width: 460px;
  margin: 0 0 20px 0;
}

section.data-source figure {
  width: 50px;
  height: 50px;
}

section.data-source h5 {
  margin: 0;
}

section.data-source div {
  position: absolute;
  top: 0;
  left: 80px;
  width: 360px;
}

section.data-source time,
ol.tools li,
ol.tools li a {
  font-size: 12px;
  color: #999;
}

section.data-source p.value {
  position: absolute;
  top: 0;
  right: 80px;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

